body {
    margin: 0;
    padding: 0; /* É uma boa prática zerar o padding também */
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

section {
    width: 100%;
    
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #0F0F0F;
}

#inicio{
    margin-left: 30px;
}

#fim {
    margin-right: 30px;
    width: 200px;
    justify-content: space-between;
}

#plus {
    width: 28px;
    height: 28px;
}

.funcoes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}

#div-hamburger {
    padding: 8px;
}


#hamburger {
    height: 15px;
    width: 20px;
}

#div-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 123px;
    height: 56px;
    padding: 18px, 14px, 18px, 16px ;
}

#logo-youtube {
    width: 93px;
    height: 20px;
}

.group {
    display: flex;
    justify-content: center;
    align-items: center;
}

#div-centro {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 705px;
    height: 40px;
}

.div-pesquisa {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 536px;
    height:38px;
    padding: 0 4px 0 16px;
    background-color: #121212;
    border: 1px solid #303030;
    border-right: none;
    border-radius: 40px 0 0 40px;
    margin: 0 0 0 32px;
}

#pesquisa {
    width: 484px;
    color: #FAFAFA;
    border: none;
    background-color: #121212;
    padding: 1px 0px;
}

#keyboard {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 27px;
    height: 26px;
    background-color: transparent;
    border: none;
}

#keyboard img{
    width: 24px;
    height: 24px;
}

#lupa{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 64px;
    height: 40px;
    background-color: #202020;
    border: 1px solid #303030;
    border-radius: 0 40px 40px 0px;
}

#micro-fone  {
    background-color: #222222;
}
#micro-fone:hover, #btn-criar:hover {
    background-color: #3D3D3D;
}

#btn-criar {
    width: 84px;
    height: 36px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #222222;
    color: #FAFAFA;
    border-radius: 18px;
    border: none;
    font-weight: bold;
    font-size: 14px;
}

.round-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 100%;

}

.round-btn:hover, #div_hamburger:hover, #notify:hover {
    background-color: #222222;
    cursor: pointer;
}


/* Termino do estilo do header */

.video-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    width: 100%;
    float: right;
}

.menu-esquerdo {
    display: flex;
    flex-direction: column;
    width: 260px;
    background-color: #0F0F0F;
    color: white;
    max-height: 100vh;
    overflow-y: scroll;
}

.menu-esquerdo::-webkit-scrollbar {
  width: 8px;
}
.menu-esquerdo::-webkit-scrollbar-track {
  background: #2D2D2D;
}

.menu-esquerdo::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 20px;
}

.menu-esquerdo ul {
    text-decoration: none;
    border-bottom: 1px solid #2D2D2D;
    padding: 0 0 10px 20px;
}

ul h2 {
    font-size: 19px;
    font-weight: bold;
    margin-top: -20px;
    margin-bottom: 10px;
}

.menu-esquerdo ul li {
    display: flex;
    align-items: center;
    gap: 16px;
    width: 200px;
    height: 30px;
    list-style: none;
    transition: all 0.2s ease;
    border-radius: 9px;
    padding: 8px;
}

.menu-esquerdo ul li img {
    width: 25px;
    height: 25px;
}

.menu-esquerdo ul li:hover {
    background-color: #272727;
    cursor: pointer;
}

.last {
    margin-top: -30px;
}

.corpo-principal {
    display: flex;
    flex-direction: row;
}

#barra-topo-videos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    color: #FAFAFA;
    background-color: #0F0F0F;
    width: 1500px;
    height: 56px;
    margin: 0 auto;
}

#barra-topo-videos div {
    background-color: #222222;
    width: fit-content;
    border-radius: 10px;
    padding: 9px 26px;
    font-weight: bold;
    font-size: 18px;
}

#barra-topo-videos div:hover {
    background-color: #FAFAFA;
    color: #0F0F0F;
    cursor: pointer;
}

